<% if @questions.empty? %>
<p>There are no questions in your category at the moment</p>
<% else %>

<ul>
  <% @questions.each do |question|%>
  <li><p><%= question.category.name %></p>
    <p><%= question.content %></p>
    <p><%= question.patient.email %></p>
    <%= link_to "Answer to this question!", question_new_answer_path(question), class:"btn btn-primary"  %>
  </li>

  <% end %>
</ul>
<% end %>
